<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.got.presentation">

    <application>
        <activity
            android:name=".characters.CharactersActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.GotCharactersApp" />
        <activity android:name=".character.CharacterDetailsActivity"
            android:theme="@style/Theme.GotCharactersApp"
            android:label="@string/title_activity_details"/>
    </application>
</manifest>
